:root {
    --white-color: #fff;
    --black-color: #000;
    --text-color: #333;
}

* {
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}
.grid{
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
}
.grid__full-width {
    width: 100%;
}
.grid__row{
    display: flex;
    flex-wrap: wrap;
    margin-left: -12px;
    margin-right: -12px;
}
#red{
    background-color: red !important;
}

/********/
.gird__column-2{
    padding-left: 12px;
    padding-right: 12px;
    width: 16,6667;
}
.grid__column-8{
    padding-left: 12px;
    padding-right: 12px;
    width: 66,6667;
}
#red{
    background-color: red;
}

/* ************ */
.header {
    height: 120px;
    background-color: #f39c12
}

.header_navbar {
    display: flex;
    justify-content: space-between;
}

.header_navbar-list {
    list-style: none;
    padding-left: 0;
    margin-top: 4px;
}

.header_navbar-item,
.header_navbar-list-link {
    display: inline-block;
    font-size: 18px;
    color: var(--text-color);
    text-decoration: none;
    font-weight: 400;
}

.header_navbar-item:hover,
.header_navbar-list-link:hover,
.header_navbar-icon-link:hover {
    color: rgba(255, 255, 255, 0.7);
    cursor: pointer;
    transition: 0.2s;
}

.header_navbar-item-connected {
    cursor: text;
    color: var(--text-color);
}

.header_navbar-item {
    margin: 0 8px;
    position: relative;
}

.header_navbar-item--strong {
    font-weight: 500;
}

.header_navbar-icon-link {
    color: var(--text-color);
    text-decoration: none;
}

/******
Header Main
*******/

.header_main {
    z-index: 1;
}

/******
Logo
*******/
.logo_container {
    width: 150px;
    height: 150px;
}

.logo a img {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    border: 2px solid white;
}

/*******
Search bar
*******/
.header_search {
    height: 83px;
}

.header_search_form_container {
    width: 100%;
    height: 50px;
    border: solid 1px #e5e5e5;
    border-radius: 5px;
    margin-top: 20px;
    margin-left: 100px;
}

.header_search_form {
    width: 100%;
    height: 100%;

}

.header_search_input {
    font-size: 15px;
    display: block;
    position: relative;
    width: 90%;
    height: 100%;
    line-height: 50px;
    border: none !important;
    outline: none !important;
    padding-left: 26px;
    color: #7f7f7f;
    float: left;
}

.header_search_button {
    position: relative;
    top: 0;
    right: 0;
    width: 10%;
    height: 100%;
    background: #c0392b;
    border: none;
    outline: none;
    cursor: pointer;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

/*******
wishlist
*******/
.wishlist_cart {
    height: 83px;
}

.wishlist {
    margin-right: 50px;
}

.wishlist_icon img {
    width: 100%;
}

.wishlist_content {
    margin-left: 15px;
}

.wishlist_text a {
    font-size: 18px;
    font-weight: 400;
    color: #000000;
    text-decoration: none;
}
.wishlist_text a:hover{
    color: rgba(255, 255, 255, 0.7);
    cursor: pointer;
    transition: 0.2s;
}
.wishlist_count{
    font-size: 12px;
}
/******
Cart
*******/
.cart_content
{
	margin-left: 28px;
}
.cart_icon img
{
	width: 100%;
    margin-top:20px;
}
.cart_count
{
	position: relative;
    bottom: 23px;
	right: -14px;
	width: 23px;
	height: 23px;
	background:#c0392b ;
	border-radius: 50%;
	text-align:center;
}
.cart_count span
{
	display: block;
	line-height: 23px;
	font-size: 12px;
	color: #FFFFFF;
}
.cart_text a
{
	font-size: 18px;
	font-weight: 400;
	color: #000000;
    text-decoration: none;
}
.cart_text a:hover{
    color: rgba(255, 255, 255, 0.7);
    cursor: pointer;
    transition: 0.2s;
}
.cart_price{
    font-size: 12px;
}
